# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
test.c
/.vs/1002CProject/v15/.suo
/.vs/1002CProject/v15/Browse.VC.db
/1002CProject.vcxproj.user
/1002CProject.vcxproj.filters
/1002CProject.vcxproj
/1002CProject.sln
/1.csv
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/1002CProject/v15/ipch/AutoPCH/f5e9125ed0981f5a/COMMANDS.ipch
/.vs/1002CProject/v15/ipch/AutoPCH/e0b4454202a84f35/MAIN.ipch
/.vs/1002CProject/v15/ipch/AutoPCH/dd323733ce43120a/VIEWPORT.ipch
/.vs/1002CProject/v15/ipch/AutoPCH/9b7860df3b8e6968/WORKSHEET.ipch
/.vs/1002CProject/v15/Browse.VC.opendb
/ICT1002_Assignment2_2018_Tri1_sample.csv
/x64/Debug/1002CProject.tlog/link.write.1.tlog
/x64/Debug/1002CProject.tlog/link.read.1.tlog
/x64/Debug/1002CProject.tlog/link.command.1.tlog
/x64/Debug/1002CProject.tlog/CL.write.1.tlog
/x64/Debug/1002CProject.tlog/CL.read.1.tlog
/x64/Debug/1002CProject.tlog/CL.command.1.tlog
/x64/Debug/1002CProject.tlog/1002CProject.lastbuildstate
/x64/Debug/1002CProject.log
/x64/Debug/1002CProject.Build.CppClean.log
